/*                   GÉNÉRAL                       */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif, ;
}

:root {
    --couleur-principale: #00b3ff;
    --couleur-secondaire: #1c1a02;
    --bleu-secondaire: #1c47d4;
    --bleu-tertiaire: #3884fc;
    --couleur-police: rgb(255, 255, 255);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'roboto', sans-serif;
}





.container {
    text-align: center;

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/image/las-vegas-959085_1280.jpg);
    background-size: cover;
    background-position: center;

    /*  magique paralax  */
    background-attachment: fixed;
}



.container h2 {
    color: rgb(2, 0, 0);
    font-weight: bold;
    font-size: 2em;
    background-color: var(--couleur-police);
    opacity: 0.7;
    font-family: 'poppins';
    font-style: oblique;
    padding: 20px;
    text-align: center;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;

}

.card p {
    color: rgb(0, 0, 0);
    font-weight: bold;

    line-height: 1.5;
    padding: 2em;
}


.second {
    background-image: url(./assets/image/las-vegas-1846684_1280.jpg);
    background-attachment: fixed;
    height: 1200px;
}

h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1em;

}

p {
    font-family: 'poppins';
}

.card {
    height: 300px;
}

.div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: space-around;

}

.item {
    display: flex;
    max-width: 320px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    width: 35%;
    padding-bottom: 25px;
    height: 750px;

}

.img {
    width: 90%;
    height: 350px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
    ;
}

.img-first {
    background-image: url(./assets/image/Dice\ Formation\ White\ 2\ B\ by\ John\ Brueske\ _\ Reference\ photos\ for\ artists\,\ Object\ photography\,\ Life\ drawing\ reference.jpg);
}

.img-second {
    background-image: url(./assets/image/tic-tac-toe-355090_1280.jpg);
}

.img-third {
    background-image: url(./assets/image/Tarot\ de\ Marseille\ Edition\ Millennium\,\ Marseille\ 2017.png);


}

.second {
    flex-direction: row;
    gap: 1.6em;
    flex-wrap: wrap;
}

.fumé {
    background-image: radial-gradient(circle at center center, transparent, rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 2px, transparent 2px, transparent 10px, rgb(33, 33, 33) 10px, rgb(33, 33, 33) 11px, transparent 11px, transparent 21px), repeating-linear-gradient(45deg, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 4px, transparent 4px, transparent 8px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
}

video {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fffbfb;
    font-size: 6em;
    font-family: sans-serif;
    letter-spacing: 02.rem;
    font-weight: bold;




}

h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;

}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY('90deg');
        filter: blur(10px);

    }

    100% {
        opacity: 1;
        transform: rotateY('0deg');
        filter: blur(0px);

    }
}


h1 span:nth-child(1) {
    animation-delay: 1s;
}

h1 span:nth-child(2) {
    animation-delay: 2s;
}

h1 span:nth-child(3) {
    animation-delay: 2.5s;
}

h1 span:nth-child(4) {
    animation-delay: 3s;
}

h1 span:nth-child(5) {
    animation-delay: 3.25s;
}

h1 span:nth-child(6) {
    animation-delay: 3.5s;
}

h1 span:nth-child(7) {
    animation-delay: 3.75s;
}

h1 span:nth-child(8) {
    animation-delay: 4s;
}

h1 span:nth-child(9) {
    animation-delay: 4.25s;
}

h1 span:nth-child(10) {
    animation-delay: 4.5s;
}

h1 span:nth-child(11) {
    animation-delay: 5s;
}

.button {
    background-color: var(--bleu-tertiaire);
    width: 40%;
    border: 1px var(--couleur-principale) solid;
    border-radius: 25px;
    color: var(--couleur-police);

}

.button a {
    font-size: 1.5em;
    font-family: 'poppins';




}


@media (max-width:1200px) {
    .item {
        height: 300px;
        width: 500px;
    }

    .card p {
        display: none;
    }

    .card {
        height: 100px;
    }

    .div {
        flex-direction: column;
    }

    .container h2 {
        font-size: 1.2em;
    }


}


@media (max-width:700px) {
    h1 {
        font-size: 2.4em;
        top: 30%
    }

    h3 {
        margin-bottom: 15%;
    }

    h2 {
        font-size: 1.2em;
    }

    .button {

        width: 25%;

    }

    .button a {
        font-size: 1em;
    }

}